.idea
**/cmake-build-debug
**/rust/target
**/java/out
**/scala/out
**/scala/.bsp/
**/scala/project/target/
**/scala/project/project/
**/scala/target/
.build
**/java/build/
**/java/gradle/
**/java/gradlew
**/java/gradlew.bat
**/java/.gradle